body
{
	font-style:normal;
	background-color:#EDF3F5;
	line-height: 1.59;
	
}
ul{
	    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 19px;
    line-height: normal;
    font-family: Lato, serif;
}

li
{
	line-height:10px;
	padding-top:20px;
}
.carousel-inner img {
      width:90%;
      height:90%;
  }

	
}ul li 
{
	display:inline-block;
}
ul li :hover {
	background-color:transparent;
	color:#00;
}
.fix-icon {
    font-size: 20px;
    color:#0F0530;
    padding: 15px 8px;
}
a
{
    color: #0F0530;
    text-decoration: none;

}
.navbar-brand img {
     
    margin: -16px -79px;
    width: 250px;
    height: 75px;
}
}
 navbar-brand img:hover {
   
	transform:none;
	transition:none;
}
.gallery{
	
	background-color:#ccc;
	padding:10px 10px 10px 10px;
	background-size: cover;
	position: relative;
    box-shadow:form.check-rooms .form-control;
	min-height:90;
	
}

input {
    padding: 10px 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;

}


.btn a{
		background-color:#24a0ff;
		padding: 8px 14px 6px 6px;
		border: 1px solid transparent;
        color:#ffff;
	  
}
.btn:hover {
	   opacity: 1;
}

   h2
{
	padding:81px;
	position:center;
	padding-top:-1px;
	margin-bottom:-30;
	font-size:30;
	color:#0F0530;
		
}
.text-center{
	text-align:center;
	font-weight:700;
	  
	font-family: normal;
	letter-spacing:0;
}


.preet-content p{
	color:#0F0530;
	margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.2px;
	text-align:center;
	
}
.marquee1{
	background-color:cadetblue;
	list-style:none;
    background-image:url('img/ul3.png');
	background-repeat: no-repeat;
}

.marque-ul{
	list-style:none;
}
.row{
	margin-right:-14px;
	margin-left:-15px;
	box-sizing:border-box;
}
.container  {
    padding-right: 70px;
    padding-left: 85px;
    margin-right: auto;
    margin-left: auto;
}

img{
	border:0;
	}
.preet-content img:hover {
    transform:scale( 1.2 );
	-webkit-transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	 transition: all 0.4s ease-in-out
}
h3
{
	padding:150px;
	padding: 15px 9px 9px 18px;
    font-size: 20px;
	font-weight:600;
	color:black;
}

	.animation img
	{
	max-width:100%;
	height:42%;
	width:100%;
}
.carousel-caption h2 
{
	color:#ffff;
	padding:34;
	font-family: serif;
	font-size:38;
}
.carousel-caption p{
	font-size:25;
	
}
.btn{
	    padding: 5px 0px;

}
.logo-bar
{
	
	background-image:url(img/bar.png);

    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    display: inline-block;
   margin:-39px 0 -5px 654px;
} 
.preet-room img{
	transform: translateZ( 0 );
}
.rooms-suits{
	padding-bottom:26;
	background-color:#202935;
}
.about-room h2
{
	color:#ffff;
	font-family:normal;
	font-size:30;
	text-align:center;
	font-weight:700;
	padding:61px 561px 129px 547px;
}
.room-content a
{
	font-size:22;
	position:relative;
	
}
.row1{
	margin-right:-14px;
	margin-left:-15px;
	border:12px solid transparent;
	
	box-sizing:border-box;
}
.hover-animation{
		border-style:ridge;
		border-width: medium;
		border-color:currentcolor;
  }
  
	.animation-1 img
	{
	max-width:100%;
	height:52%;
	width:100%;
	transform: translateZ( 0);
	transition: all 0.4s ease-in-out;
}
.packages h2{
	padding:81px ;
	position:center;
	padding-top:-1px;
	margin-bottom:-30;
	font-size:30;
    text-align:center;
	font-weight:700;
	font-family: normal;
	letter-spacing:0;
	color:#426CA4;
}
.logo-bar1
{
	
	background-image:url(img/bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    display: inline-block;
   margin:-39px 0 -5px 475px;
} 
.logo-bar2
{
	
	background-image:url(img/bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    display: inline-block;
   margin:-88px 0 -5px 630px;
}
.wedding-packages a{
		padding:8px ;
	position:center;
	margin-bottom:-30;
	font-size:30;
    text-align:center;
	font-weight:700;
	font-family: normal;
	letter-spacing:0;
	color:#426CA4;
}
.post-wedding-packages{
	font-size:18;
	color:#0F0530;
	letter-spacing: -0.2px;
	text-align:center;
	 margin: 20px -1px 0 10px;

}
footer{
     background-color:#202935;
	color: #8b99ab;
    font-size: 13px;
   list-style-type:none;
	margin:111 0 0 0;
}
.container footer-area{
	list-style:none;
	
}
.preet-sidebar ul li a i:hover{
	color:#beac5a;
	
}
.row2{
    font-color:#fff;	
}
.footer-copyright-area
{     
    padding:25;
	background-color:#1c242f;
}
.preet-sidebar h3 
{
	color:white;
	font-weight:500;
    padding: 51px 62px 0;
	line-height:1.1;
	font-size:24px;
	list-style:none;
	font-family: Lato, serif;
}
i.fix-icon2 {
    font-size: 15px;
    color: #202935;
       padding: 9px 9px 10px 8px;
    margin: 21px 5px 1px 0px;
    border-radius: 41%;
    background-color: grey;
}
.footer-link ul li a
{
	display:block;
	color: #8b99ab;
	font-size:17;
	line-height:1.;
	transition:transform 0.3s;
	list-style: none;
}
.preet-footer-social
{
	display:inline;
	list-style-type:none;
	margin: 43 -93px 0 36px;
	padding-bottom:20;
}
.list-dots{
	list-style-type:none;
	display:block;
	    padding-left: 66px;
}

.about-room p
{
	color:papayawhip ;
	margin: -53px 507px 16px;
	font-size:18;
	font-weight:400;
	font-family:Open Sans", Helvetica, Arial, sans-serif;
	line-height: 1.65;
}
.logo-bar4
{
	
	background-image:url(img/bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 9px 0 -35px 80px;
} 
.fa {
	display:inline;

}
.text-center3{
	    padding-right: 132px;
		text-align:center;
}
.text-center2
    {
	padding:-50;
	text-align:center;
	margin:-1px 0 0 -117px;
}
.fix-icon1{
	z-index:9999;
	padding:12px 7px 3px 6px;
	position:relative;
	right:34px;
	background-color: white;
    color: cadetblue;
	border: transparent;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
 .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
 .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
 .col-md-11, .col-md-12, .col-md-2, .col-md-3
 .col-md-4, .col-md-5,
 .col-md-6, .col-md-7, .col-md-8, .col-md-9,
 .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
 .col-sm-2, .col-sm-3,
 .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
 .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10,
 .col-xs-11, .col-xs-12, 
 .col-xs-2, .col-xs-3, .col-xs-4, 
 .col-xs-5, .col-xs-6, .col-xs-7,
 .col-xs-8, .col-xs-9
 {
    position: relative;
    min-height: 1px;
    padding-right:2px;
    padding-left: 15px;
}